.imageDimentions {
  margin: 20px;
  height: 50px;
  width: 50px;
}

.button {
  background-color: white;
  border-color: rgb(0, 49, 82);
  color: rgb(0, 49, 82);
  border-radius: 2px;
  height: 25px;
  width: 95px;
  cursor: pointer;
}

.MovieList {
  margin-left: 10%;
  margin-bottom: 15px;
  background-color: white;
  width: 80%;
}

.allignMovie {
  display: flex;
  position: relative;
  top: -45px;
}

.movieTitle {
  position: relative;
  left: 85px;
  bottom: 90px;
  color: rgb(0, 49, 82);
  font-size: 20px;
  font-weight: bold;
}

.movieDescription {
  position: relative;
  bottom: 20px;
  font-size: 18px;
  padding-left: 85px;
  width: 80%;
  font-family: "Times New Roman", Times, serif;
}

.buttonImage {
  margin: 0 15px 0 15px;
  height: 20px;
  width: 30px;
}

.cast {
  margin-left: 85px;
  width: 400px;
}

.allignCast {
  display: inline-flex;
}

.divideLine {
  width: 85%;
}
